h1,h2,h3{
    font-family: 'Bitter', serif;
}

#home {
    background: url("../img/blurred-white-clouds-floating-in-the-blue-sky-for-use-as-a-banner-poster-or-wallpaper-free-photo.jpeg") no-repeat center fixed;
    display: table;
    height: 100vh;
    position: relative;
    width: 100%;
    background-size: cover;

}

.landing-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.landing-text, h2{
    font-size: 5vh;
    font-weight: 540;
}

.navbar {
    background-image: linear-gradient(to right, #2f2c3f, #283477, #5791a3);
    height: 3rem;
}

.navbar, a {
    color: black;
}


.navbar-nav, a {
    padding-right:2rem;
    margin-right: 50%;
}

.card {
    flex-direction: row;
    align-items: center;
    margin: 5rem;
    background-color: rgba(0, 0, 0, 0.137);
  }
  .card img {
    width: 30%;
  }
